# Project Capstone - Segmenting and Clustering Neighborhoods in Toronto  Assignment

#### In this notebook we will be writing the code to read the tables from the web link - https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M using the pandas library.

In [1]:
# importing the required libraries
import pandas as pd
import numpy as np

**Assign the Url to a variable and read using read_html.**

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_web = pd.read_html(url)  # this will return a list..
print("Type of df_web :", type(df_web))

#To get the dataframe we will read the first occurence of the lis, which is a dataframe
df_WEB = df_web[0]
print("Type of df_WEB :", type(df_WEB))

Type of df_web : <class 'list'>
Type of df_WEB : <class 'pandas.core.frame.DataFrame'>

**Check the first few rows of the dataframe.**

In [3]:
df = df_WEB.copy()
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A         Etobicoke  Islington Avenue

**Clean the dataframe rows with value of "not assigned".**

In [4]:
df.Borough.replace(to_replace='Not assigned',value=np.nan,inplace=True)
df.Neighbourhood.replace(to_replace='Not assigned',value=np.nan,inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
df.dropna(inplace=True)

In [6]:
df.reset_index(drop=True).head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [7]:
df_WEB.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [8]:
print("Total number of rows in original dataset were {}. {} number of 'Not Assigned' rows were removed from the original dataset.".format(df_WEB.shape[0],df_WEB.shape[0]-df.shape[0]))

Total number of rows in original dataset were 287. 77 number of 'Not Assigned' rows were removed from the original dataset.